<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.composedesign">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.ComposeDesign"
        tools:targetApi="31">
        <activity
            android:name=".ui.view.viewpager.ViewPagerActivity"
            android:exported="false"
            android:label="@string/title_activity_view_pager"
            android:theme="@style/Theme.ComposeDesign" />
        <activity
            android:name=".ui.view.gradient.GradientActivity"
            android:exported="false"
            android:label="@string/title_activity_view_pager"
            android:theme="@style/Theme.ComposeDesign" />
        <activity
            android:name=".ui.view.game.GameActivity"
            android:exported="false"
            android:label="@string/title_activity_game"
            android:theme="@style/Theme.ComposeDesign" />
        <activity
            android:name=".ui.view.animation.AnimationActivity"
            android:exported="false"
            android:label="@string/title_activity_animation"
            android:theme="@style/Theme.ComposeDesign" />
        <activity
            android:name=".ui.view.shoes.ShoesDetailActivity"
            android:exported="false"
            android:label="@string/title_activity_shoes_detail"
            android:theme="@style/Theme.ComposeDesign" />
        <activity
            android:name=".ui.view.shoes.ShoesActivity"
            android:exported="true"
            android:label="@string/title_activity_shoes"
            android:theme="@style/Theme.ComposeDesign" />
        <activity
            android:name=".ui.view.MainActivity"
            android:exported="true"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.ComposeDesign">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>